{
  "parser": "@typescript-eslint/parser",
  "plugins": ["eslint-plugin-typescript", "react-hooks"],
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }]
  }
}
