{
  "processors": ["stylelint-processor-styled-components"],
  "extends": ["stylelint-config-standard", "stylelint-config-styled-components"],
  "rules": {
    "declaration-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "selector-pseudo-element-colon-notation": null
  }
}
